// Footer.scss
$footer-bg: #333;
$footer-color: #fff;

.footer {
  background: $footer-bg;
  color: $footer-color;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5),
  0 5px 10px rgba(0, 0, 0, 0.2);
  p {
    margin: 0;
  }
}